<!-- Add this at the end of your layout.ejs or main template file -->
</div>
</div>
</div>
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 Seksocholikk x Mistery</p>
    <img src="images/obraz_2024-05-02_004606382.png" />
  </div>
</footer>
</body>
</html>
