<%- include('partials/MasterHeader') %>
<title>Your Cart - RSS Empire Shop</title>
</div>
<div class="col-md-10">
    <h1>Your Cart</h1>
    <div class="row" id ="cartList">

    </div>
</div>

<script nonce="<%= nonce %>">
    $(document).ready(function() {
        fetchCartData();
        $("body").on("click", ".delete-button", function() {
            var itemId = $(this).data("item-id");
            var data = { itemId: itemId };
    
            $.ajax({
                type: "DELETE",
                url: "Cart/remove-from-cart",
                data: data,
                success: function(response) {
                    toastr.success("Product successfully removed from the cart", "Success", {
                        timeOut: 3000,
                        progressBar: true,
                        positionClass: "toast-top-center",
                    });
                    fetchCartData();
                },
                statusCode: {
                404: function() {
                    toastr.warning("Product not found in the cart", "Warning", {
                        timeOut: 3000,
                        progressBar: true,
                        positionClass: "toast-top-center",
                        });
                    fetchCartData();
                    }
                },
                error: function(error) {
                    console.error("Error removing item from the cart: " + error);
                }
            });
        });     
        
        $("body").on("click", ".delete-button100", function() {
            var itemId = $(this).data("item-id");
            var data = { itemId: itemId };
    
            $.ajax({
                type: "DELETE",
                url: "Cart/remove-from-cart100",
                data: data,
                success: function(response) {
                    toastr.success("Product successfully removed from the cart", "Success", {
                        timeOut: 3000,
                        progressBar: true,
                        positionClass: "toast-top-center",
                    });
                    fetchCartData();
                },
                statusCode: {
                404: function() {
                    toastr.warning("Product not found in the cart", "Warning", {
                        timeOut: 3000,
                        progressBar: true,
                        positionClass: "toast-top-center",
                        });
                    fetchCartData();
                    }
                },
                error: function(error) {
                    console.error("Error removing item from the cart: " + error);
                }
            });
        });
        $("body").on("click", ".add-button100", function() {
            var itemId = $(this).data("item-id");
            var data = { itemId: itemId };
    
            $.ajax({
                type: "POST",
                url: "Cart/add-to-cart100",
                data: data,
                success: function(response) {
                    toastr.success("Product successfully removed from the cart", "Success", {
                        timeOut: 3000,
                        progressBar: true,
                        positionClass: "toast-top-center",
                    });
                    fetchCartData();
                },
                statusCode: {
                404: function() {
                    toastr.warning("Product not found in the cart", "Warning", {
                        timeOut: 3000,
                        progressBar: true,
                        positionClass: "toast-top-center",
                        });
                    fetchCartData();
                    }
                },
                error: function(error) {
                    console.error("Error removing item from the cart: " + error);
                }
            });
        });

        function fetchCartData() {
            $.ajax({
                type: 'GET',
                url: '/Cart/get-cart',
                success: function (html) {
                    $("#cartList").html(html);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    });
</script>
<%- include('partials/MasterFooter') %>
