<%- include('partials/MasterHeader') %>
<title>RSS Empire Shop - Frequently Asked Questions</title>
</div>
<div class="col-md-10">
    <section>
        <h3 class="text-center mb-3 pb-2 text-warning fw-bold">Frequently Asked Questions</h3>
        <p class="text-center mb-4">
            Find the answers to the most frequently asked questions about our shop.
        </p>
    
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-3 text-info fs-5"><i class="far fa-money-bill-alt text-warning pe-2"></i>How can I buy resources?</h6>
                        <p>
                            <strong><u>It's simple!</u></strong> Just click on "Resources" (note: you need an account to access this feature), add as many resources as you want to your cart, and then proceed to payment.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-3 text-info fs-5"><i class="fas fa-handshake text-warning pe-2"></i>Is it safe to buy resources from you guys?</h6>
                        <p>
                            <strong><u>Absolutely!</u></strong> We prioritize your safety and security above all else. Our unique methods ensure that the resources we provide are safe and the risk of bans or penalties is minimized to 0.1%.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-3 text-info fs-5"><i class="fas fa-shield-alt text-warning pe-2"></i> Is my information safe and secure? We use Stripe!</h6>
                        <p>
                            <strong><u>Yes, </u></strong>your information is secure with us. We take data security very seriously and use Stripe to process payments, ensuring that your personal and payment information is handled with the utmost confidentiality.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-3 text-info fs-5"><i class="fas fa-dollar-sign text-warning pe-2"></i> Does my order come with a warranty?</h6>
                        <p>
                            <strong><u>Yes! Lifetime warranty.</u></strong> In case if you receive a manual report, there is a small chance that Lilith may take your resources, then report this on our discord and we will return all resources/money to you!
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-3 text-info fs-5"><i class="fas fa-users text-warning pe-2"></i> How are resources delivered?</h6>
                        <p>
                            After completing your payment (note: you need to have an account), <u>you will receive a notification from the seller in the order tab detailing the delivery of your resources.</u>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    
</div>
<%- include('partials/MasterFooter') %>
