<%- include('partials/MasterHeader') %>

<title>RSS Empire Shop - Buy Rise of Kingdoms Resources</title>
</div>
<div class="col-md-12">
  <div class="jumbotron">
    <h1 class="display-4 fw-bold center">Welcome to <span class="title-text-home">RSS Empire Shop</span></h1>
    <p class="display-4 center">Choose your kingdom!</p>
  </div>
  
  
  <div class="row home1">

    <div class="col-md-3 buttonSpacing">
      <a href="/Resources"><button class="button-85 mainHomeButtons">KD 3392</button></a>
    </div>
    <div class="col-md-3 buttonSpacing">
      <a href="/Resources3399"><button class="button-85 mainHomeButtons">KD 3399</button></a>
    </div>
    <div class="col-md-3 buttonSpacing">
        <a href="/Resources3490"><button class="button-85 mainHomeButtons">KD 3490</button></a>
    </div>
    <div class="col-md-3 buttonSpacing">
        <a href="/Resources3435"><button class="button-85 mainHomeButtons">KD 3435</button></a>
    </div>
    <div class="col-md-3 mt-md-5 buttonSpacing">
      <a href="/"><button class="button-85 mainHomeButtons">Soon...</button></a>
    </div>
    <div class="col-md-3 mt-md-5 buttonSpacing">
      <a href="/"><button class="button-85 mainHomeButtons">Soon...</button></a>
    </div>
    <div class="col-md-3 mt-md-5 buttonSpacing">
      <a href="/"><button class="button-85 mainHomeButtons">Soon...</button></a>
    </div>
    <div class="col-md-3 mt-md-5 buttonSpacing">
      <a href="/"><button class="button-85 mainHomeButtons">Soon...</button></a>
    </div>
<div class="row">
  <div class="col-md-6 mt-md-5">
    <div class="card bg-dark text-white home-section custom-row">
      <div class="card-body">
        <h2 class="card-title"><i class="fas fa-medal text-primary"></i> Why Choose Us?</h2>
        <ul class="list-group">
          <li class="list-group-item bg-dark text-white border-secondary mt-2"><i class="fas fa-check iconcheck"></i> We utilize unique and special methods to supply resources.</li>
          <li class="list-group-item bg-dark text-white border-secondary"><i class="fas fa-trophy icontrophy"></i>We are providing safe, reliable, and risk-free services.</li>
          <li class="list-group-item bg-dark text-white border-secondary"><i class="fas fa-bag-shopping iconknight"></i>We prioritize customer satisfaction above all else.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6 mt-md-5">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h2><i class="fas fa-shopping-cart iconshopping"></i> How to Buy</h2>
        <ol class="list-group">
          <li class="list-group-item bg-dark text-white border-secondary mt-2"><i class="fas fa-hand-pointer icon bg-dark"></i>Go to the Resource section and choose the resource that fits your needs.</li>
          <li class="list-group-item bg-dark text-white border-secondary"><i class="fas fa-credit-card iconcard"></i> Follow the easy checkout process to complete your purchase securely by using Stripe</li>
          <li class="list-group-item bg-dark text-white border-secondary"><i class="fas fa-envelope iconmail"></i>Follow sellers marks and enjoy resources!</li>
        </ol>
      </div>
    </div>
  </div>
</div>

  <div class="mt-4 bg-dark text-white p-4">
    <h2 class="text-center">Ready to get started?</h2>
    <div class="text-center">
      <a href="/Resources" class="btn btn-primary btn-lg mt-2">Explore <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
  
</div>
<%- include('partials/MasterFooter') %>


