<!-- views/login.ejs -->
<%- include('partials/MasterHeader') %>
<title>RSS Empire Shop - Login</title>
</div>
<div class="col-md-10">
    <div class="row justify-content-center">
        <div class="col-md-4 containersBox">
            <h2 class="mb-3">Login</h2>
            <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <ul class="alert alert-danger">
                  <% errors.forEach(function(error) { %>
                    <li class="list-group-item"><%= error %></li>
                  <% }); %>
                </ul>
              <% } %>
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p class="mt-3">Don't have an account? <a href="/register">Register</a></p>
            <p class="mt-3"><a href="/forgot-password">Forgot Password</a></p>
        </div>
    </div>
</div>
<%- include('partials/MasterFooter') %>
