<%- include('partials/MasterHeader') %>
<title>Reset Password</title>
</div>
<div class="col-md-10">
  <div class="row justify-content-center">
    <div class="col-md-4 containersBox">
      <h2 class="mb-3">Reset Password</h2>
      <!-- Include a form to set a new password -->
      <form method="post" action="/reset-password">
        <input type="hidden" name="resetToken" value="<%= resetToken %>">
        <div class="form-group mb-3">
          <label for="password" class="form-label">New Password:</label>
          <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
  </div>
</div>
<%- include('partials/MasterFooter') %>
