.containor
{
    display: grid;
    grid-template-rows:repeat(3,150px);
    grid-template-columns:repeat(3,150px);
}
.deactive{
    display: none;
}
.grid--ingredients{
    outline: 1px solid red
}
.grid--ingredients:hover{
    background-color: blueviolet;
    transition-duration: 300ms;
}

.Alert--icon,.Foot--print--icon{
    color: blue ;
    margin-top:40px;
    /* margin: auto; */

}
.winner{
    background-color:yellowgreen;
    transition-duration: 1000ms;
}
.floor--Wrapper{
    display: flex;
    gap: 100px;
}
.turn__displayer{
    /* width: 150px; */
    font-size:600 
}